.row {
    width: 100%; 
    overflow: hidden; 
}

.leftcolumn { 
    float: left; 
    width: 70%; 
    padding: 20px; 
    box-sizing: border-box; 
} 

.rightcolumn {
    margin-top: 20px;
    margin-right: 20px;
    float: right; 
    width: 25%; 
    padding: 20px;
    box-sizing: border-box; 
    background-color: #f1f1f1; 
}


article {
    margin-bottom: 20px; 
    padding: 10px 20px; 
    border: 1px solid rgb(145, 145, 145); 
    background-color: #f9f9f9;
}


article p { 
    text-align: justify; 
} 


body::after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}