.carousel-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#card-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 180px;
  height: 300px;
  perspective: 1000px;
  margin: 0 10px;
  box-sizing: border-box;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.card-front {
  background-color: #f8f8f8;
  font-size: 20px;
  text-align: center;
}

.card-back {
  background-color: #fff;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back a {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card.flipped .card-front {
  transform: rotateY(180deg);
}

.card.flipped .card-back {
  transform: rotateY(0deg);
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  margin-top: 20px;
}


.recipe-search{
  max-width: 900px; 
  flex-direction: column; 
  align-items: center; 
  margin: 20px auto;
  text-align: center; 
}

.gcse-search {
  max-width: 900px; 
  margin: 0 auto;
}


.gcse-search input.gsc-input {
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin-right: 10px;
}

.gcse-search button.gsc-search-button {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.gcse-search button.gsc-search-button:hover {
  background-color: #e67e22;
}
