h1, h2 {
    text-align: center;
}

section {
    margin-bottom: 30px;
 max-width: 900px;
    margin: auto;
    padding: 20px;
}


.featured-recipes {
    margin-bottom: 30px;
}

.recipe-card {
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    background-color: #5c4033ab;
}

.recipe-card img {
    max-height: 300px;
    border-radius: 5px;
}

.recipe-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.recipe-card a:hover {
    background-color: #218838;
}


.baking-tips {
    background-color: #fff3cd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.baking-tips ul {
    padding-left: 20px;
}


.submit-recipe {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #0000001a;
    margin-bottom: 30px;
}

.submit-recipe button {
    padding: 10px 15px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-recipe button:hover {
    background-color: #e67e22;
}


.reviews {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #0000001a;
    margin-bottom: 30px;
}


.baking-challenges {
    background-color: #ffdcdc;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}
