body {
    cursor: url("../images/cake3.cur"), auto;	
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8; 
    color: #333;
}

h1, h2 {
    color: #a0522d; 
    text-align:center;
}

header {
    padding: 20px;
    text-align: center;
}



ul.navbar {
    list-style-type: none;
    padding: 0;
    background-color: #000000;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.nav-left {
    margin-left: 20px;
}

.nav-right {
    display: flex;
    margin-right: 20px;
}

ul.navbar li {
    position: relative;
    margin-right: 15px; 
}

ul.navbar li a {
    padding: 14px 20px;
    color: #ffffff;
    text-decoration: none;
    display: block;
}

ul.navbar li a:hover {
    background-color: #111;
}


.nav-left .title a {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    padding: 14px 20px;
}

.nav-left .title a:hover {
    background-color: #000000; 
}

