/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Search bar container styling */
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 3.25px;
}

/* Input field styling */
.search-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 300px;
}

/* Search button styling */
.search-container button {
    padding: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #218838;
}

